<template>
  <div class="home">
    <img v-if="!inited" src="../assets/loader.svg">
    <Bandit v-else/>
  </div>
</template>

<script>
// @ is an alias to /src
import Bandit from '@/components/Bandit.vue'
import {Component, Vue} from "vue-property-decorator"
import {State} from "vuex-class"

@Component({
  components: {Bandit},
})
export default class Main extends Vue {
  @State('inited') inited

}
</script>
<style lang="scss">
</style>
