<template>
  <div class="bandit">
    <pre class="numbers">======
|<span v-for="i in 3" :key="i">{{ displayNumber.slice(i - 1, i) }}|</span>
======</pre>
    <button :disabled="waitResult" @click="start">начать игру</button>
    <p v-if="key">
      {{ key }}<br/>
      <button :disabled="waitCheckResult" @click="check">проверить результат</button><br />
      {{ checkResult }}
    </p>
  </div>
</template>

<script>
import {Component, Vue, Watch} from "vue-property-decorator"
import {namespace} from "vuex-class"

const game = namespace('game')

@Component
export default class Bandit extends Vue {
  @game.State('result') result
  @game.State('checkResult') checkResult
  @game.State('key') key
  @game.State('waitResult') waitResult
  @game.State('waitCheckResult') waitCheckResult

  @game.Action('start') start
  @game.Action('check') check

  trober = '000'

  get displayNumber() {
    return this.waitResult ? this.trober : this.result
  }

  @Watch('waitResult')
  onWaitResult(newVal) {
    if (newVal) {
      this.randomLoop()
    }
  }

  randomLoop() {
    if (this.waitResult) {
      requestAnimationFrame(() => {
        this.trober = Array.from({length: 3}, () => Math.round(Math.random() * 9)).join('')
        this.randomLoop()
      })
    }
  }
}
</script>

<style lang="scss">
.bandit {
  .numbers {
    font-size: 30px;
  }
}
</style>
